{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'connexion.title'|trans }}{% endblock %}
{% block body %}
    <div class="text-center mt-5 brand_logo">
        {% include './icons/canari.html.twig' %}
    </div>

    <h3 class="text-center mt-5 mb-4 connexion_header">{{ 'connexion.title'|trans }}</h3>

    <form method="post" class="connexion_form">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3 text-white">
                {{ 'connexion.user'|trans({'username': app.user.username}) }}, <a class="text-primary" href="{{ path('app_logout') }}">{{ 'deconnexion.title'|trans }}</a>
            </div>
        {% endif %}

        <div class="form-group">
            <label for="inputEmail" class="required">{{ 'Email'|trans }}</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus placeholder="{{ 'Email.placeholder'|trans }}">
        </div>
        <div class="form-group">
            <label for="inputPassword" class="required">{{ 'Mot de passe'|trans }}</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required placeholder="{{ 'Mot de passe.placeholder'|trans }}">
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button id="submit" class="btn btn-primary connexion_button w-100 mt-5 mb-2 font-weight-bold" type="submit">{{ 'connexion.label'|trans }}</button>
        <p class="form_warning mb-5">{{ 'required_help'|trans }}</p>
    </form>
{% endblock %}
