{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'inscription.title'|trans }}{% endblock %}
{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="text-center mt-5 brand_logo">
        {% include './icons/canari.html.twig' %}
    </div>

    <h3 class="text-center mt-5 mb-4 connexion_header">{{ 'inscription.welcome'|trans }}</h3>

    <div class="connexion_form">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.avatarFile) }}
        <div class="d-flex justify-content-center align-items-center flex-column" id="avatar_block">
            <div class="my-3" id="preview_profile_avatar"></div>
            <button type="button" class="btn btn-primary" id="refreshAvatar" style="display: none">Supprimer l'avatar</button>
        </div>
        {{ form_rest(registrationForm)}}
        <button type="submit" id="submit" class="btn btn-primary connexion_button w-100 mt-5 mb-2 font-weight-bold">{{ 'submit'|trans }}</button>
        {{ form_end(registrationForm) }}
        <p class="form_warning mb-5">{{ 'required_help'|trans }}</p>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('preview_avatar') }}
{% endblock %}
