<section id="tags"
        {% if is_granted('ROLE_USER') %}
            data-connected="true"
            data-id="{{ app.user.id }}"
        {% else %}
            data-connected="false"
        {% endif %}
         data-admin="{% if is_granted('ROLE_ADMIN') %}true{% else %}false{% endif %}"
class="d-flex flex-column p-3 align-items-start">
    <h2 id="tags-title" class="text-white">#{{ 'hashtags'|trans }}</h2>
</section>
