{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} — {% endblock %}

{% block body %}
    {{ include('hash/_tags.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('search-hashtag') }}
{% endblock %}
