{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} — {{ 'profile.edit'|trans }} — {{ app.user.pseudo }}{% endblock %}
{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div id="profile_editor">
        {{ form_start(form, {'attr': {'data-id': app.user.id}}) }}

        <div class="mx-auto mt-5" style="width: 100px; height: 100px">
            {{ include('icons/canari.html.twig') }}
        </div>

        <h3 class="text-center mt-5 mb-4 connexion_header">{{ 'profile.edit'|trans }}</h3>

        <div class=" edit-profil-form">

            {{ form_row(form.pseudo)}}
            {{ form_row(form.bio) }}
            {{ form_row(form.plainPassword) }}
            {{ form_row(form.avatarFile) }}
            <div class="d-flex justify-content-center align-items-center flex-column" id="avatar_block">
                <div class="my-3" id="preview_profile_avatar"></div>
                <button type="button" class="btn btn-primary" id="refreshAvatar" style="display: none">Supprimer l'avatar</button>
            </div>

            <button type="submit" class="btn btn-primary connexion_button w-100 my-5 font-weight-bold">{{ 'edit.label'|trans }}</button>

        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('edit-profile') }}
{% endblock %}
