{% extends 'base.html.twig' %}

{% block title %}Conditions d'utilisation G@zouiller{% endblock %}

{% block body %}
    <div class="container conditions-text">

        <h1 class="text-center mt-5" style="font-size: 50px">Conditions général d'utilsation de G@zouiller</h1>
        <p class="text-center mt-4">Le Contrat d’utilisation de G@zouiller est composé des présentes Conditions d’utilisation, de notre Politique de confidentialité, des Règles et politiques de G@zouiller et de toutes les politiques associées.</p>

                {# NAVBAR #}
                <nav class="navbar justify-content-center mt-5 mb-5" style="font-size: 25px" id="navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#quiutilisation" class="nav-link">1. Qui peut utiliser les Services ?</a></li>
                        <li><a href="#confidencialité" class="nav-link">2. Confidentialité</a></li>
                        <li><a href="#contenu" class="nav-link">3. Contenu des Services</a></li>
                        <li><a href="#utilisation" class="nav-link"> 4. Utilisation des Services </a></li>
                        <li><a href="#disposition" class="nav-link">5. Dispositions générales</a></li>
                    </ul>
                </nav>
                {# FIN NAVBAR #}


              <div id="quiutilisation" class="mb-5">
                  <h2 class="mb-3"> 1. Qui peut utiliser les Services ?</h2>
                  <p>Vous ne pourrez utiliser les Services que si vous acceptez de signer un contrat vous liant à G@zouiller et que si vous n’êtes pas interdit(e) de recevoir ce type de services en vertu des lois du pays ou territoire dont vous relevez. Dans tous les cas, pour utiliser les Services, vous devez être âgé d’au moins 13 ans, ou dans le cas de Periscope de 16 ans. Si vous acceptez les présentes Conditions et que vous utilisez les Services au nom d’une société, une organisation, un État ou une autre entité juridique, vous déclarez et garantissez que vous êtes autorisé(e) à le faire et que vous avez l’autorité de lier cette entité aux présentes Conditions, auquel cas les mots "vous" et "votre" tels qu’ils sont utilisés dans les présentes Conditions se réfèrent à cette entité.</p>
              </div>
                <div id="confidencialité" class="mt-5">
                   <h2 class="mb-3">2. Confidentialité</h2>
                    <p>Notre Politique de confidentialité décrit comment nous traitons les informations que vous nous fournissez lorsque vous utilisez nos Services. Vous reconnaissez qu’en utilisant les Services, vous consentez à ce que nous collections et utilisions (selon les termes de la Politique de confidentialité) ces informations, y compris dans les cas où ces informations seraient transférées aux États-Unis, en Irlande et/ou dans d’autres pays aux fins d’être stockées, traitées ou utilisées par G@zouiller ou ses sociétés affiliées.</p>
                </div>

                <div id="contenu"  class="mt-5">
                    <h2 class="mb-3">3. Contenu des Services</h2>
                    <p class="mb-4">Vous êtes responsable de l’utilisation que vous faites des Services et de tout Contenu que vous fournissez, y compris de la conformité aux lois, règles et réglementations en vigueur. Vous ne devez fournir un Contenu que dans la mesure où cela ne vous gêne pas de le partager avec d’autres.</p>
                    <p class="mb-4">Tout usage ou recours à un Contenu ou à des matériaux affichés par l’intermédiaire des Services, ou que vous obtenez par ce moyen, est réalisé à vos risques et périls. Nous n’approuvons, ne soutenons, ne déclarons et ne garantissons pas l’exhaustivité, la véracité, l’exactitude ou la fiabilité d’un quelconque Contenu ou d’une quelconque information publiée via les Services, ni ne cautionnons aucune des opinions exprimées par leur intermédiaire. Vous comprenez qu’en utilisant les Services, vous risquez d’être exposé(e) à un Contenu qui peut être offensant, malfaisant, inexact ou inapproprié, voire, dans certains cas, à des messages qui auraient été mal adressés ou qui s’avèreraient trompeurs. Tout Contenu relève de la seule responsabilité de la personne qui l’a créé. Nous ne surveillons et ne contrôlons pas nécessairement tous les Contenus publiés via les Services, et nous ne pouvons en assumer la responsabilité.</p>
                    <p class="mb-4">Nous nous réservons le droit de supprimer tout Contenu qui violerait l’Accord d’utilisation, parce qu’il constituerait – par exemple - une violation de droits d’auteur ou de marques de commerce ou tout autre détournement de la propriété intellectuelle, une appropriation illicite de droits de propriété intellectuelle, une usurpation d’identité, une conduite illicite ou un harcèlement. Notre Centre d’assistance fournit des informations sur les politiques spécifiques et la procédure destinée à signaler ou à contester lesdites violations</p>
                    <h2 class="mt-5 mb-4">Vos droits et Concession de droits sur le Contenu </h2>
                    <p>Vous conservez vos droits sur tout Contenu que vous soumettez, publiez ou affichez sur ou via les Services. Ce qui est à vous vous appartient. Vous êtes le propriétaire de votre Contenu (ce qui inclut vos sons, photos et vidéos intégrés).

                        En soumettant, en publiant ou en affichant un Contenu sur ou via les Services, vous nous accordez une licence mondiale, non exclusive et libre de redevances (incluant le droit de sous-licencier), nous autorisant à utiliser, copier, reproduire, traiter, adapter, modifier, publier, transmettre, afficher et distribuer ce Contenu sur tout support et selon toute méthode de distribution actuellement connus ou développés dans le futur (dans un souci de clarté, ces droits comprennent, par exemple, ceux de conservation, transformation et traduction). Cette licence nous autorise à mettre votre Contenu à disposition du reste du monde et autorise les autres à en faire de même. Vous convenez que cette licence comprend le droit pour Twitter de fournir, promouvoir et améliorer les Services et de mettre le Contenu soumis sur ou via les Services à disposition d’autres sociétés, organisations ou personnes privées, aux fins de syndication, diffusion, distribution, Retweet, promotion ou publication de ce Contenu sur d’autres supports et services, sous réserve de respecter nos conditions régissant l’utilisation de ce Contenu. G@zouiller, ou ces autres sociétés, organisations ou personnes privées, pourront utiliser ainsi le Contenu que vous aurez soumis, publié, transmis ou de quelque autre façon mis à disposition via les Services sans que vous puissiez prétendre à une quelconque rémunération au titre de ce Contenu, étant donné qu’il est convenu par les présentes que votre utilisation des Services vaut pour rémunération suffisante du Contenu et octroi des droits cités dans la présente disposition.</p>
                   <p>Vous déclarez et garantissez que vous avez, ou avez obtenu, tous les droits, licences, consentements, autorisations, le pouvoir et/ou l’autorité nécessaires pour accorder les droits concédés aux termes des présentes pour tout Contenu que vous soumettez, postez ou affichez sur ou par le biais des Services. Vous acceptez que ce Contenu ne contienne pas d’éléments soumis au droit d’auteur ou d’autres droits de propriété, à moins que vous n’ayez l’autorisation nécessaire ou que vous ayez légalement le droit de publier les éléments et d’accorder à G@zouiller la licence décrite ci-dessus.</p>
                </div>

            <div id="utilisation" class="mt-5">
            <h2 class="mb-3"> 4. Utilisation des Services </h2>
                <p>Nos Services évoluent en permanence. À ce titre, les Services sont susceptibles d’être modifiés occasionnellement, à notre entière discrétion. Nous sommes susceptibles de cesser (provisoirement ou définitivement) de vous fournir, à vous ou plus généralement aux utilisateurs, les Services ou toute fonctionnalité de ceux-ci. Nous nous réservons par ailleurs le droit de fixer des limites d’utilisation et de stockage, à tout moment et à notre seule discrétion. Nous sommes également susceptibles de retirer ou de refuser de distribuer un quelconque Contenu sur les Services, de restreindre la distribution ou la visibilité de tout Contenu sur le service ou de suspendre ou résilier un utilisateur et de récupérer des noms d’utilisateurs, sans encourir aucune responsabilité à votre égard.</p>
                <p>En contrepartie du droit à accéder et à utiliser les Services qui vous est consenti par G@zouiller, vous acceptez que G@zouiller et ses prestataires et partenaires tiers puissent placer des publicités sur les Services, ou en relation avec l’affichage du Contenu ou des informations provenant des Services et soumis par vous ou par d’autres. Vous vous engagez également à ne pas faire un usage impropre de nos Services, par exemple à ne pas les perturber ni à essayer d’y accéder par le biais d’une méthode autre que l’interface et les instructions que nous fournissons.</p>
            </div>

        <div id="disposition" class="mt-5 mb-5">
            <h2 class="mb-3"> 5. Dispositions générales </h2>
            <p>Nous serons susceptibles de modifier les présentes Conditions à tout moment. Ces modifications ne seront pas rétroactives et notre relation mutuelle sera en tout état de cause régie par la version la plus récente des présentes Conditions que vous pourrez consulter à tout moment sur G@zouiller.com/fr/tos. À l’exception des changements liés à de nouvelles fonctions ou effectués pour des raisons juridiques, nous vous alerterons 30 jours avant que des modifications influant sur les droits ou obligations d’une quelconque partie aux présentes Conditions ne soient apportées à ces dernières. Cette alerte sera réalisée, par exemple, par une notification du Service ou un e-mail adressé à l’adresse électronique associée à votre compte. En continuant d’accéder aux Services ou en les utilisant après l’entrée en vigueur de ces modifications, vous accepterez d’être lié(e) par les présentes Conditions.</p>
        </div>
    </div>


{% endblock %}
