//=================================
//          MESSAGE CARD
//=================================
.tweet-author {
  color: $yellow;
}

.heart-active-icon {
  fill: #d7443e;
}

// heart-active-icon
.comment-icon,
.heart-icon,
.bird-icon,
.link-icon,
.three_dots {
  path {
    fill: $yellow;
  }
}

.img {
  width: 1rem;
  height: 1rem;
}

.tweet-tag {
  cursor: pointer;
  font-weight: bold;
  color: $primary;
}

#message-container .card-body {
  background-color: rgba(15, 17, 20, 0.8);
  margin-bottom: 30px;
  padding: 30px;
}

.tweet-img > * {
  max-height: 400px;
}

.avatar_link {
  &:hover {
    text-decoration: none;
  }
}
