.text-tiny {
  font-size: .8rem;
}

//===================
//       FONTS
//===================
@font-face {
  font-family: "Mukta-Bold";
  src: url("../fonts/Mukta-Bold.ttf");
}
@font-face {
  font-family: "Mukta-Light";
  src: url("../fonts/Mukta-Light.ttf");
}
