// COLORS
$yellow:  #ffd500;
$grey:  #231f20;
$blueGrey:  #262A30;
$white: #f9f9f9;


// BOOTSTRAP VARIABLE RE-WRITE
$body-bg: $blueGrey !default;
$primary: $yellow !default;

//
$tweet-bg: darken($body-bg, 10%);
$secondary: lighten($tweet-bg, 10%) !default;

.bg-content {
  background-color: lighten($tweet-bg, 10%);
}

.bg-content-50 {
  background-color: lighten(rgba($tweet-bg, .5), 6%);
}

// BOOTSTRAP CLASS RE-WRITE
.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba($grey, 0.25) !important;
}

.dropdown-item.active, .dropdown-item:active {
  color: $blueGrey !important
}

.dropdown-toggle::after {
  display: none !important;
}

.card {
  background-color: $tweet-bg !important;
}

.text-white {
  color: darken($white, 15%) !important;
}

.dropdown-menu {
  background-color: lighten($tweet-bg, 5%) !important;
  box-shadow: 0 0 7px 5px rgba(#000, .3);
}

.dropdown-item:hover {
  color: black !important;
}

.border-50 {
  border: 1px solid rgba($white, .2);
}

// TRADUCTION
$custom-file-text: (
  en: "Browse",
  fr: "Parcourir"
);

// GENERALE
.shadow-container {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

  &:before, &:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px
  }

  &:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
  }
}
