.left_wing {
  animation: left_fly 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  transform-origin: top;
  animation-fill-mode: initial;
}

.right_wing {
  animation: right_fly 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  transform-origin: top;
  animation-fill-mode: initial;
}

@keyframes left_fly {
  0% {
    transform: rotateZ(3deg) rotate3d(1, 1, 1, 3deg);
  }
  2% {
    transform: rotateZ(-3deg) rotate3d(-1, -1, -1, -3deg);
  }
  3% {
    transform: rotateZ(3deg) rotate3d(1, 1, 1, 3deg);
  }
  5% {
    transform: rotateZ(-3deg) rotate3d(-1, -1, -1, -3deg);
  }
  6% {
    transform: rotateZ(3deg) rotate3d(1, 1, 1, 3deg);
  }
  8% {
    transform: rotateZ(-3deg) rotate3d(-1, -1, -1, -3deg);
  }
  9% {
    transform: none;
  }
  20% {
    transform: rotateZ(3deg) rotate3d(1, 1, 1, 3deg);
  }
  21% {
    transform: rotateZ(-3deg) rotate3d(-1, -1, -1, -3deg);
  }
  23% {
    transform: rotateZ(3deg) rotate3d(1, 1, 1, 3deg);
  }
  24% {
    transform: rotateZ(-3deg) rotate3d(-1, -1, -1, -3deg);
  }
  26% {
    transform: none;
  }
  38% {
    transform: rotateZ(3deg) rotate3d(1, 1, 1, 3deg);
  }
  39% {
    transform: rotateZ(-3deg) rotate3d(-1, -1, -1, -3deg);
  }
  41% {
    transform: none;
  }
}

@keyframes right_fly {
  0% {
    transform: rotateZ(-6deg) rotate3d(1, 1, 1, -3deg);
  }
  2% {
    transform: rotateZ(6deg) rotate3d(-1, -1, -1, 3deg);
  }
  3% {
    transform: rotateZ(-6deg) rotate3d(1, 1, 1, -3deg);
  }
  5% {
    transform: rotateZ(6deg) rotate3d(-1, -1, -1, 3deg);
  }
  6% {
    transform: rotateZ(-6deg) rotate3d(1, 1, 1, -3deg);
  }
  8% {
    transform: rotateZ(6deg) rotate3d(-1, -1, -1, 3deg);
  }
  9% {
    transform: none;
  }
  20% {
    transform: rotateZ(-6deg) rotate3d(1, 1, 1, -3deg);
  }
  21% {
    transform: rotateZ(6deg) rotate3d(-1, -1, -1, 3deg);
  }
  23% {
    transform: rotateZ(-6deg) rotate3d(1, 1, 1, -3deg);
  }
  24% {
    transform: rotateZ(6deg) rotate3d(-1, -1, -1, 3deg);
  }
  26% {
    transform: none;
  }
  38% {
    transform: rotateZ(-6deg) rotate3d(1, 1, 1, -3deg);
  }
  39% {
    transform: rotateZ(6deg) rotate3d(-1, -1, -1, 3deg);
  }
  41% {
    transform: none;
  }
}

.canary {
  animation: float 10s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
  animation-fill-mode: initial;
}

@keyframes float {
  0% {
    transform: none;
  }
  10% {
    transform: translate(0, -20px);
  }
  20% {
    transform: translate(0, -15px);
  }
  30% {
    transform: translate(0, -20px);
  }
  50% {
    transform: none;
  }
}
