{% extends 'base.html.twig' %}

{% block title %}G@zouiller — Administration - Contact{% endblock %}

{% block body %}
    <div id="contact_admin_container" class=""></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin_contact') }}
{% endblock %}
