{% extends 'base.html.twig' %}

{% block title %}G@zouiller — Administration{% endblock %}

{% block body %}
    <!-- LABEL -->
    <h1 class="text-primary text-center mt-5">Administration</h1>

    <!-- ACCORDEON VUE GENERALE -->
    <div id="general_view_accordion" class="mt-5 mx-3 p-3">
        <!-- BOUTON -->
        <div class="card">
            <div class="card-header text-primary" id="headingGeneralView">
                <h3 class="mb-0 text-center text-md-left">
                    <button class="btn btn-link text-primary" data-toggle="collapse" data-target="#collapseGeneralView" aria-expanded="true" aria-controls="collapseOne">
                        Vue générale
                    </button>
                </h3>
            </div>

            <!-- FOLLOWING CONTENT -->
            <div id="collapseGeneralView" class="collapse bg-dark" aria-labelledby="headingGeneralView" data-parent="#general_view_accordion">
                <div class="card-body" id="general_view">
                    <!-- USERS -->
                    <p class="mt-2 text-white">Nombre d'utilisateurs inscrits : <span class="text-primary font-weight-bold" id="admin_total_users"></span></p>
                    <!-- MESSAGES -->
                    <p class="mt-3 text-white">Nombre de messages publiés : <span class="text-primary font-weight-bold" id="admin_total_messages"></span></p>
                    <!-- LIKES -->
                    <p class="mt-2 text-white">Nombre de likes : <span class="text-primary font-weight-bold" id="admin_total_likes"></span></p>
                    <!-- COMMENTS -->
                    <p class="mt-2 text-white">Nombre de commentaires : <span class="text-primary font-weight-bold" id="admin_total_comments"></span></p>
                    <!-- RETWEETS -->
                    <p class="mt-2 text-white">Nombre de retweets : <span class="text-primary font-weight-bold" id="admin_total_retweets"></span></p>
                </div>
            </div>
        </div>
    </div>

    <!-- ACCORDEON VUE QUOTIDIENNE -->
    <div id="daily_view_accordion" class="ml-3 mr-3 mb-0 p-3">
        <!-- BOUTON -->
        <div class="card">
            <div class="card-header text-primary" id="headingDailylView">
                <h3 class="mb-0 text-center text-md-left">
                    <button class="btn btn-link text-primary" data-toggle="collapse" data-target="#collapseDailyView" aria-expanded="true" aria-controls="collapseOne">
                        Vue quotidienne
                    </button>
                </h3>
            </div>

            <!-- FOLLOWING CONTENT -->
            <div id="collapseDailyView" class="collapse bg-dark" aria-labelledby="headingDailyView" data-parent="#daily_view_accordion">
                <div class="card-body" id="general_view">
                    <!-- NOMBRE D'UTILISATEURS ENREGISTRES AUJOURD'HUI -->
                    <p class="mt-2 text-white">Comptes créés : <span class="text-primary font-weight-bold" id="admin_total_users_today"></span></p>
                    <!-- MESSAGES QUOTIDIEN -->
                    <p class="mt-3 text-white">Nombre de messages publiés : <span class="text-primary font-weight-bold" id="admin_daily_messages"></span></p>
                </div>
            </div>
        </div>
    </div>

    <!-- ACCORDEON VUE HEBDOMADAIRE -->
    <div id="week_view_accordion" class="ml-3 mr-3 mb-0 p-3">
        <!-- BOUTON -->
        <div class="card">
            <div class="card-header text-primary" id="headingWeekView">
                <h3 class="mb-0 text-center text-md-left">
                    <button class="btn btn-link text-primary" data-toggle="collapse" data-target="#collapseWeekView" aria-expanded="true" aria-controls="collapseOne">
                        Statistiques hebdomadaires
                    </button>
                </h3>
            </div>

            <!-- FOLLOWING CONTENT -->
            <div id="collapseWeekView" class="collapse bg-dark" aria-labelledby="headingWeekView" data-parent="#week_view_accordion">
                <div class="card-body" id="week_view">
                    <!-- CHART -->
                    <div class="container-fluid" style="height: 70vh">
                        <canvas id="chartTest"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTACT -->
    <div class="ml-3 mr-3 mb-0 p-3">
        <!-- BOUTON -->
        <div class="card">
            <div class="card-header text-primary" id="headingWeekView">
                <h3 class="mb-0 text-center text-md-left">
                    <a class="btn btn-link text-primary" href="{{ path('admin_contact') }}">Les demandes de contact</a>
                </h3>
            </div>
        </div>
    </div>


    <!-- RAPPORTS DE SIGNALEMENTS -->
    <aside id="signal-panel" class="col-12 col-sm-6 col-lg-4">
        <button type="button" id="signal-panel-toggle" class="btn rounded-circle font-weight-bold"><></button>
        <h2 class="my-5 text-white">{{ 'signal.admin'|trans }}</h2>
        <div id="signal-container"></div>
    </aside>

    {{ encore_entry_script_tags('chart') }}
    {{ encore_entry_script_tags('moderation') }}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('moderation') }}
{% endblock %}
