.swal2-popup.swal2-toast {
  background: $body-bg!important;
}

.swal2-popup {
  background: $body-bg!important;
}
.swal2-title {
  color: $white !important;
}
.swal2-content {
  color : $white !important;
}
.swal2-styled.swal2-confirm {
  background-color: #ffd500 !important;
  color: $body-bg !important;
}
.swal2-styled:focus {
  outline: none !important;
  box-shadow: 0 0 0 3px rgb(255, 213, 0) !important;
}

.swal2-icon.swal2-success {
  border-color: yellow !important;
  color: yellow !important;
}
