.curved-arrow {
  display: block;
  position: relative;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 8px solid currentColor;
  transform: rotate(10deg);
  margin-right: 5px;

  &:after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 4px solid currentColor;
    border-radius: 24px 0 0 0;
    top: -12px;
    left: -8px;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
  }
}
