//=================================
//             FOOTER
//=================================

.footer-bg {
  background-color: #0F1114;

  a{
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: none;
      color: #a0a0a0;
    }
  }

  .footer-copyright {
    color: #ffd500;
  }
}
