@import "../variable.scss";

.custom-file-input.is-invalid ~ .custom-file-label {
  border-color: $danger !important;
}

button[type="submit"]:not([disabled]) {
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
}

.card-profile button[type="submit"]:not([disabled]) {
  animation-name: pulse-dark;
}

@keyframes pulse {
  0% {
    box-shadow: $primary 0 0 0 2px;
  }
  20% {
    box-shadow: $body-bg 0 0 0 2px,
                $primary 0 0 0 6px;
  }
  100% {
    box-shadow: $body-bg 0 0 0 10px,
                $primary 0 0 0 10px;
  }
}

@keyframes pulse-dark {
  0% {
    box-shadow: $primary 0 0 0 2px;
  }
  20% {
    box-shadow: $tweet-bg 0 0 0 2px,
                $primary 0 0 0 6px;
  }
  100% {
    box-shadow: $tweet-bg 0 0 0 10px,
                $primary 0 0 0 10px;
  }
}
