@import "../variable";

//=====================================
//            LOADER
//=====================================
#loader {
  display: none;
  margin: 0 auto;
  content: "";
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  background: radial-gradient(circle at center, transparent 50%, $primary 50%);
  border-radius: 50%;
  animation-name: rotating;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;

  &::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-left: 1rem solid transparentize($body-bg, 0.3);
    border-bottom: 1rem solid transparent;
  }
}

#loader-comment {
  z-index: 9999;
  display: block;
  bottom: 10%;
  left: calc(50% - 1rem);
  content: "";
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  background: radial-gradient(circle at center, transparent 50%, $primary 50%);
  border-radius: 50%;
  animation-name: rotating;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;

  &::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-left: 1rem solid transparentize($body-bg, 0.3);
    border-bottom: 1rem solid transparent;
  }
}

@keyframes rotating {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}
