//=================================
//             NAVBAR
//=================================
.contain {
  padding-left: -15px;
  padding-right: -15px;

  .navbar {
    width: 100%!important;
    background-color: #ffd500;
    height: 80px;
    padding-left: -15px;
    padding-right: -15px;

    #navbarSupportedContent {
      z-index: 3;
      background: #ffd500 !important;
      margin-top: -8px;
      margin-left: -16px;
      margin-right: -17px;
    }
    .nav-link {
      margin-right: 20px;
      color: rgba(0, 0, 0, 0.7)!important;

      &:hover {
        color: #fff!important;
      }
    }

    .nav-link.text-danger {
      color: $danger !important;
      &:hover {
        color: darken($danger, 20%) !important;
      }
    }

    .font-link{
      margin-right:15px!important;
      font-family: 'Fira Sans', sans-serif;
      margin-left:15px;
    }
    .font-nav {
      font-family: 'Grandstander', cursive;
      font-size: 25px;
    }
  }
}

//=================================
//         NAVBAR MEDIA
//=================================
@media(max-width: 992px){
  .nav-link {
    margin-right: 0px!important;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .menu_links li {
    border-bottom: 1px solid $body-bg;

    &:last-of-type {
      border-bottom: 0px;
    }
  }
}

//=================================
//              LOGO
//=================================
.circle-black{
  display: flex;
  justify-content: center;
  align-items: center;
  border:solid 2px white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: black ;
}


.logo-piou {
  float: left;
}
