@import "../variable";

#signal-panel, #signal-panel-toggle {
  background-color: $tweet-bg;
  color: $white;
  border: 3px solid $white;
}

#signal-panel {
  position: absolute;
  border-width: 0;
  border-right-width: 3px;
  min-height: 100vh;
  top: 0;
  left: -100%;
  z-index: 4;
  transition: left 1s;
}

#signal-panel-toggle {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: calc(50% - 1.5rem);
  border-width: 3px;
  transition: left 1s;
  animation: slide-in-right 2s ease-out forwards;
}

@keyframes slide-in-right {
  from {left: 100%}
  to {left: -1.5rem}
}

.report-container {
  border: 2px inset $primary;
  background: $body-bg;
}

.report-title {
  text-align: left;
  position: relative;
  z-index: 2;
}

.report-body {
  background: darken($primary, 10%);
  color: $tweet-bg;
  position: relative;
  z-index: 1;
  margin-top: -3px;
}
