{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'home'|trans }}{% endblock %}

{% block body %}

    {# INPUT RECHERCHE #}
    <div class="container d-flex flex-column flex-sm-row justify-content-center align-items-start mb-5">
        {{ include('search/_search_bar.html.twig') }}
        <div class="d-flex flex-row my-sm-5 my-0 ml-2">
            <button class="btn btn-primary connexion_button mr-1" type="button">Follow</button>
            <button class="btn button-tous" type="button">Tous</button>
        </div>
    </div>

    {# FORMULAIRE PUBLICATION MESSAGE #}
    {{ include('message/_form.html.twig') }}

    {# TWEETS #}
    <div class="container-lg d-flex justify-content-center my-5 flex-column" id="message-container"
            {% if is_granted('ROLE_USER') %}
                data-connected="true"
                data-id="{{ app.user.id }}"
            {% else %}
                data-connected="false"
            {% endif %}
         data-admin="{% if is_granted('ROLE_ADMIN') %}true{% else %}false{% endif %}"
    >
        <div id="loader"></div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('accueil') }}
    {% if is_granted('ROLE_USER') %}
        {{ encore_entry_script_tags('new-message') }}
    {% endif %}
{% endblock %}
