<form class="mt-5 mb-3 d-flex flex-row container p-0" action="{{ path('search') }}" method="GET">
    <input type="text" class="form-control" placeholder="Rechercher" id="search_input" name="query">
    <div class="input-group-append">
        <button class="btn bg-primary" type="submit" style="border-radius: 3px">
            {% include './icons/glass.html.twig' %}
        </button>
    </div>
</form>
