{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} — {{ 'search.title'|trans }} "{{ query }}"{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-start">{{ include('search/_search_bar.html.twig') }}</div>

    <h1 class="text-primary text-center py-5" id="main-title">{{ 'search.title'|trans }} "{{ query }}"</h1>
    <section id="users"
    {% if is_granted('ROLE_USER') %}
        data-connected="true"
        data-id="{{ app.user.id }}"
    {% else %}
        data-connected="false"
    {% endif %}
     data-admin="{% if is_granted('ROLE_ADMIN') %}true{% else %}false{% endif %}"
     class="d-flex flex-column p-3 align-items-start">
        <h2 id="users-title" class="text-white">@{{ 'users'|trans }}</h2>
    </section>
    <hr/>
    {{ include('hash/_tags.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}
