<div class="container mt-5">
    <form class="mr-auto needs-validation" data-user="{{ user.id }}" method="post" name="contact_moderator" enctype="multipart/form-data" id="contact_moderator">
        <div class="form-group">
            <label for="contact_moderator[message]">* Message</label>
            <textarea id="contact_moderator_message" name="contact_moderator[message]" required="required" placeholder="Message" class="form-control"></textarea>
            <div class="d-flex mt-2">
                <p class="mr-auto text-tiny">Caractère minimum: <span id="contact_moderator_min_chart" class="text-primary"></span> <span id="contact_moderator_min_good"></span> </p>
                <p class="ml-auto text-tiny"> <span id="contact_moderator_max_chart" class="text-primary"></span> caractères restants</p>
            </div>
        </div>
        <button type="submit" id="submit_contact_moderator" class="btn btn-primary w-100 mt-3 mb-2 font-weight-bold">Envoyez</button>
    </form>
</div>
