{% extends 'base.html.twig' %}

{% block title %}Hello ContactModeratorController!{% endblock %}

{% block body %}
    <div class="container text-white">
        {{ include('contact_moderator/_form.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('contact_moderator') }}
{% endblock %}
