@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

//=================================
//        NEW MESSAGE FORM
//=================================

.connexion_form_mess  {
  .form-group {
    text-align: left;
  }
  label, legend {
    color: #fff;
    font-family: "Mukta-Bold", 'sans-serif';
  }
}

.custom-file-label {
  color: #495057!important;
}

.button-tous {
  font-family: "Mukta-Bold", 'sans-serif';
  color: #ffd500;
  border: solid 1px #ffd500;

    &:hover {
      background-color: #ffd500;
      color: #262A30;
    }
}



