#main_profile {
  margin-top: 72px!important;

  .card-profile {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba($tweet-bg, .8);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding-top: 50px;

    color: $white;
  }
  .edit_link {
    &:hover {
      color: $primary;

      svg path {
        fill: $primary;
      }
    }
  }
  #btn-delete {
    color: #fff!important;
  }
}

#profile_editor {
  margin-top: 100px!important;
}

// ----- Avatars -----
$avatar-size: 80px;
.image-avatar, .placeholder-avatar {
  width: $avatar-size;
  height: $avatar-size;
}
.placeholder-avatar {
  font-size: $avatar-size/2;
  text-transform: capitalize;
  background-color: $yellow;
  color: $body-bg;
  user-select: none;
}
