.connexion_header {
  color: $primary;
  font-family: "Mukta-Bold", "sans-serif";
}

.brand_logo {
  margin-top: 100px !important;
}

.connexion_form,
.edit-profil-form {
  margin: auto 20%;
  .form-group {
    text-align: left;
  }
  label,
  legend {
    color: #fff;
    font-family: "Mukta-Bold", "sans-serif";
  }
}

.connexion_button {
  font-family: "Mukta-Bold", "sans-serif";

  &:hover {
    background-color: $body-bg !important;
    color: $primary !important;
  }
}

.form_warning {
  color: $primary;
  font-size: 14px;
}

.required::before {
  content: "* ";
  display: inline;
  color: inherit;
}

main {
  min-height: 100vh;
}

  #preview_profile_avatar {
    background-position: center;
    background-size: cover;
    clip-path: circle(40%);
  }
