<div class="container">

    {% if is_granted("ROLE_USER") %}

    <div class="connexion_form_mess" >
            <form class="mr-auto needs-validation" method="post" name="new_message" enctype="multipart/form-data" id="new_message">
                <div class="form-group">
                    <textarea id="new_message_text" name="new_message[text]" required="required" autofocus="autofocus" maxlength="140"
                              placeholder="Faites comme Trump, partagez-nous votre humeur du moment !" class="form-control">
                    </textarea>
                    <div class="invalid-feedback">{{ 'required_help_nolabel'|trans }}</div>
                </div>
                <p class="text-right text-primary mb-3"><span id="charCount">140</span> caractères restants</p>
                <fieldset id="new-message-file" class="form-group">
                    <div class="vich-file">
                        <div class="custom-file">
                            <input type="file" id="new_message_imageFile_file" name="new_message[imageFile][file]"
                                   placeholder="Ajouter un fichier (Audio, Video, Image)" accept="audio/*, video/*, image/*"
                                   class="custom-file-input" lang="fr">
                            <label for="new_message_imageFile_file" class="custom-file-label" lang="fr" id="new_message_imageFile_file_label">Ajouter un fichier (Audio, Video, Image)</label>
                            <div class="invalid-feedback">{{ 'maxsize_error'|trans }}</div>
                        </div>
                        <div class="text-center mt-3 mw-100 p-relative">
                            <div class="float-right">
                                <button type="button" class="btn btn-primary" id="refresh_input_file" style="display: none">
                                    {{ include('icons/close_svg.html.twig') }}
                                </button>
                            </div>
                            <img class="img-fluid empty" id="img_preview">
                        </div>
                    </div>
                </fieldset>
                <input type="number" name="new_message[author]" hidden value="{{ app.user.id }}">
                <input type="date" value="{{ "now"|date("Y-m-d") }}" name="new_message[date]" hidden>
                <button disabled type="submit" id="message-submit" class="btn btn-primary connexion_button w-100 mt-2 mb-2 font-weight-bold">{{ 'message.new.label'|trans }}</button>
            </form>
    </div>

    {% else %}

    <div class="connexion_form_mess" >
        <form class="mr-auto">
            <div style="display: none">{{ form_label(form.text) }}</div>
            {{ form_widget(form.text,{ 'attr':{'disabled':'true'} }) }}
            <div style="display: none">{{ form_row(form.imageFile) }}</div>
            <button type="submit" id="message-submit" class="btn btn-primary connexion_button w-100 mt-3 mb-2 font-weight-bold" disabled>{{ 'message.new.label'|trans }}</button>
        </form>
    </div>
        <p style="color: white; font-size: 12px" class="required">{{ 'connexion.help.start'|trans }}
            <a href="{{ path('app_login') }}">{{ 'connexion.help.login'|trans }}</a>
            {{ 'connexion.help.middle'|trans }}
            <a href="{{ path('app_register') }}">{{ 'connexion.help.register'|trans }}</a>
        </p>
    {% endif %}
</div>

{% if is_granted("ROLE_USER") %}
    {% block javascripts %}
        {{ encore_entry_script_tags('preview_img') }}
    {% endblock %}
{% endif %}


