{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} — {{ 'message.new.title'|trans }}{% endblock %}

{% block body %}
    <h2>{{ 'message.new.title'|trans }}</h2>

    {{ include('message/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('new-message') }}
{% endblock %}
