{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} — {{ 'message.show.title'|trans({'id': id}) }}{% endblock %}

{% block body %}
    <div id="message-container" class="mt-5 container-md"
            {% if is_granted('ROLE_USER') %}
                data-connected="true"
                data-id="{{ app.user.id }}"
            {% else %}
                data-connected="false"
            {% endif %}
         data-admin="{% if is_granted('ROLE_ADMIN') %}true{% else %}false{% endif %}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('show-message') }}
{% endblock %}
