<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<!-- Primary Meta Tags -->
		<meta name="title" content="G@azouiller">
		<meta name="description" content="Rejoignez G@azouiller aujourd'hui. S'inscrire Se connecter. Suivez vos passions. Découvrez ce dont les gens parlent. Rejoignez la communauté!">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="siteweb">
		<meta property="og:title" content="G@zouiller, réseau social, à vos tweet !">
		<meta property="og:description" content="Rejoignez G@azouiller aujourd'hui. S'inscrire Se connecter. Suivez vos passions. Découvrez ce dont les gens parlent. Rejoignez la communauté!">

		<!--Open Graph / twitter -->
		<meta property="twitter:title" content="G@zouiller, réseau social, à vos tweet !">
		<meta property="twitter:description" content="Rejoignez G@azouiller aujourd'hui. S'inscrire Se connecter. Suivez vos passions. Découvrez ce dont les gens parlent. Rejoignez la communauté!">

		<title>
			{% block title %}G@zouiller
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		<!-- favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
	</head>
	<body>
		{% include './components/navbar.html.twig' %}
		<main>
			{% block body %}{% endblock %}
		</main>
		{% include './components/footer.html.twig' %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
