<!-- Footer -->
<footer class="page-footer font-small blue footer-bg">

    <div class="text-center py-3 mt-4" >
        <a href="{{ path('accueil') }}">{{ 'home'|trans }}</a> - <a href="{{ path('conditions') }}">{{ 'cgu'|trans }}</a> - <a href="{{ path('contact_moderator') }}">{{ 'contact'|trans }}</a>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright :
        G@zouiller
    </div>
    <!-- Copyright -->
</footer>

<!-- Footer -->
