
<div class="contain">
    <nav class="navbar navbar-expand-lg navbar-light nav-bg shift">
        <a class="navbar-brand font-nav" href="{{ path('accueil') }}">
            <div class="d-flex flex-row">
                <div class="circle-black align-self-center">
                    <img src="{{ asset('build/images/canari.svg') }}" width="45" height="45" class="logo-piou" alt="logo">
                </div>
                <p class="align-self-center ml-3 mt-3">G@zouiller</p>
            </div>
        </a>
        <button class="navbar-toggler mb-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ 'Toggle navigation'|trans }}">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--LINKS-->
        <div class="collapse navbar-collapse justify-content-end w-100 align-items-end" id="navbarSupportedContent">
            <ul class="navbar-nav font-link menu_links" style="margin-right: 50px">
                <li class="nav-item text-center">
                    <a class="nav-link" href="{{ path('accueil') }}">
                        {{ 'home'|trans }}
                    </a>
                </li>
                {% if is_granted('ROLE_USER') %}
                <li class="nav-item text-center">
                    <a class="nav-link" href="{{ path('name_myProfile') }}">
                        {{ 'profile.link'|trans }}
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="{{ path('app_logout') }}">
                        {{ 'deconnexion.label'|trans }}
                    </a>
                </li>
                {% else %}
                <li class="nav-item text-center">
                    <a class="nav-link" href="{{ path('app_login') }}">
                        {{ 'connexion.label'|trans }}
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="{{ path('app_register') }}">
                        {{ 'inscription.label'|trans }}
                    </a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item text-center">
                        <a class="nav-link text-danger" href="{{ path('admin') }}">
                            {{ 'administration'|trans }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>


