{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'retweet.title'|trans }} ({{ messageId }}){% endblock %}

{% block body %}
    <h1 class="text-primary text-center py-5">{{ 'retweet.title'|trans }}</h1>

    <div class="card container-lg p-3">
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit" id="submit" class="btn btn-primary">{{ 'retweet.label'|trans }}</button>
        {{ form_end(form) }}

        {# message #}
        <div class="container-lg d-flex justify-content-center my-5 pt-4 flex-column bg-primary rounded" id="message-container"
                {% if is_granted('ROLE_USER') %}
                    data-connected="true"
                    data-id="{{ app.user.id }}"
                {% else %}
                    data-connected="false"
                {% endif %}
             data-admin="{% if is_granted('ROLE_ADMIN') %}true{% else %}false{% endif %}"
        >
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('retweet') }}
{% endblock %}
