{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} — {{ 'retweet.show.title'|trans({'id': id}) }}{% endblock %}

{% block body %}
    <div class="card container-md px-3 pt-5 pb-0 mt-5">
        <div class="container-lg p-4 text-primary border border-white rounded" id="retweet-container"></div>
        <div class="container-lg d-flex justify-content-center mt-3 mb-5 pt-4 flex-column bg-primary rounded" id="message-container"
                {% if is_granted('ROLE_USER') %}
                    data-connected="true"
                    data-id="{{ app.user.id }}"
                {% else %}
                    data-connected="false"
                {% endif %}
             data-admin="{% if is_granted('ROLE_ADMIN') %}true{% else %}false{% endif %}"
        >
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('show-message') }}
    {{ encore_entry_script_tags('show-retweet') }}
{% endblock %}
