{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'signal.title'|trans }}{% endblock %}

{% block body %}
    <h1 class="text-primary text-center py-5">{{ 'signal.main_title'|trans }}</h1>

    <form class="d-flex flex-column align-items-center">
        <div class="form-group row justify-content-center">
            <label for="signal_message" class="text-white font-weight-bold required">{{ 'signal.message_label'|trans }}</label>
            <textarea autofocus maxlength="255" name="message" id="signal_message" rows="10" class="form-control" required></textarea>
            <div class="invalid-feedback">{{ 'required_help'|trans }}</div>
            <small class="form-text text-muted text-white"><span id="charCount">255</span> caractères restants</small>
        </div>
        <button disabled type="submit" id="signal_submit" class="btn btn-danger mt-3">{{ 'submit'|trans }}</button>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('report') }}
{% endblock %}
