<?xml version="1.0" encoding="iso-8859-1"?>
<svg class="heart-icon" viewBox="0 -28 512.001 512" xmlns="http://www.w3.org/2000/svg">
    <path d="M299.801,391.743c3.102,0,6.003-1.939,7.082-5.032l5.491-15.745c1.364-3.911-0.701-8.188-4.612-9.552
				c-3.911-1.364-8.188,0.701-9.551,4.612l-5.491,15.745c-1.364,3.911,0.701,8.188,4.612,9.552
				C298.148,391.608,298.981,391.743,299.801,391.743z"/>
    <path d="M412.422,172.826c0,4.143,3.358,7.5,7.5,7.5s7.5-3.357,7.5-7.5c0-14.54-11.829-26.37-26.37-26.37
				c-14.54,0-26.37,11.83-26.37,26.37c0,4.143,3.358,7.5,7.5,7.5s7.5-3.357,7.5-7.5c0-6.27,5.101-11.37,11.37-11.37
				S412.422,166.557,412.422,172.826z"/>
    <path d="M293.373,28.902c-2.58,0-5.144,0.061-7.698,0.16C272.927,11.281,251.937,0,231.027,0c-4.142,0-7.5,3.357-7.5,7.5
				c0,4.143,3.358,7.5,7.5,7.5c13.191,0,26.466,5.89,36.328,15.627c-86.09,11.444-152.398,78.776-152.398,159.882
				c0,27.063,7.41,52.853,20.671,75.576c-21.579,2.662-41.833,11.924-58.073,26.758L64.201,305.04
				c-5.592,5.108-8.8,12.383-8.8,19.957s3.208,14.849,8.8,19.958l7.686,7.021c1.438,1.313,3.25,1.962,5.056,1.962
				c2.033,0,4.06-0.822,5.54-2.441c2.793-3.059,2.579-7.803-0.479-10.597l-7.686-7.02c-2.526-2.308-3.917-5.462-3.917-8.883
				c0-3.421,1.391-6.575,3.916-8.883l13.354-12.198c15.809-14.44,36.05-22.716,57.358-23.553
				c14.213,19.267,32.939,35.703,55.046,47.977c-1.504,20.224-16.528,36.858-36.844,40.189c-20.086,3.294-40.933-0.361-58.7-10.29
				c-3.614-2.022-8.185-0.728-10.206,2.888c-2.021,3.616-0.728,8.186,2.888,10.206c12.611,7.047,26.55,11.376,40.811,12.825
				c-0.936,7.702-1.366,15.463-1.272,23.166c0.081,6.608-3.701,12.819-9.634,15.821l-71.185,36.024
				c-12.713,6.435-18.811,21.174-14.183,34.284c2.487,7.046,7.576,12.683,14.329,15.872c3.769,1.78,7.795,2.676,11.839,2.675
				c3.202,0,6.415-0.562,9.517-1.691l128.48-46.763c-1.787,8.937-5.383,16.384-10.958,22.885c-2.696,3.145-2.333,7.879,0.812,10.575
				c1.415,1.213,3.15,1.807,4.878,1.807c2.113,0,4.214-0.889,5.697-2.618c10.417-12.149,14.407-25.859,15.551-38.465l29.011-10.56
				c-1.204,11.76-5.068,21.103-11.876,29.042c-2.696,3.145-2.333,7.879,0.812,10.575c1.415,1.213,3.15,1.807,4.878,1.807
				c2.113,0,4.213-0.888,5.697-2.618c12.082-14.091,15.52-30.281,15.896-44.413l10.709-3.898
				c30.049-10.938,54.325-32.458,68.935-59.757c3.593,0.366,7.181,0.564,10.754,0.564c26.084,0,51.258-9.662,70.872-27.578
				l13.354-12.198c5.593-5.108,8.8-12.383,8.8-19.957s-3.208-14.849-8.8-19.957l-8.129-7.425c3.723-4.229,7.246-8.644,10.533-13.251
				c2.405-3.373,1.621-8.057-1.751-10.462c-3.372-2.404-8.056-1.622-10.461,1.751c-4.311,6.045-9.068,11.729-14.195,17.055
				c-0.106,0.104-0.214,0.203-0.315,0.314c-0.031,0.034-0.056,0.07-0.086,0.104c-18.086,18.649-40.883,32.705-66.303,41.14
				c-0.227,0.065-0.45,0.14-0.669,0.226c-17.711,5.797-36.672,8.878-56.187,8.878c-5.014,0-10.079-0.207-15.055-0.614
				c-4.131-0.343-7.749,2.733-8.088,6.862c-0.338,4.128,2.734,7.749,6.862,8.087c5.382,0.441,10.859,0.665,16.28,0.665
				c16.863,0,33.354-2.133,49.093-6.191c-1.833,7.066-4.329,13.874-7.427,20.35c-0.119,0.222-0.227,0.45-0.324,0.686
				c-12.615,25.93-34.898,46.447-62.825,56.612l-6.242,2.272c-0.029-0.288-0.057-0.58-0.087-0.863
				c-0.434-4.12-4.125-7.118-8.244-6.674c-4.119,0.434-7.107,4.125-6.674,8.244c0.166,1.574,0.294,3.104,0.4,4.609l-29.001,10.556
				c-0.142-2.277-0.337-4.457-0.553-6.516c-0.434-4.12-4.129-7.108-8.244-6.674c-4.119,0.434-7.107,4.125-6.674,8.244
				c0.382,3.632,0.59,7.061,0.653,10.34L72.305,496.214c-3.229,1.176-6.715,1.015-9.82-0.452s-5.446-4.06-6.59-7.301
				c-2.127-6.027,0.802-12.867,6.813-15.91l71.185-36.022c10.999-5.567,18.01-17.103,17.86-29.389
				c-0.091-7.489,0.363-15.04,1.337-22.525c4.201-0.175,8.4-0.599,12.569-1.283c25.198-4.132,44.327-23.535,48.634-47.887
				c10.852,4.85,22.372,8.754,34.453,11.571c0.573,0.134,1.146,0.198,1.71,0.198c3.407,0,6.491-2.338,7.298-5.799
				c0.94-4.033-1.567-8.066-5.601-9.007c-14.39-3.356-27.908-8.379-40.333-14.796c-0.432-0.286-0.893-0.53-1.38-0.722
				c-22.592-11.934-41.481-28.515-55.27-48.121c-0.151-0.237-0.311-0.468-0.487-0.686c-15.767-22.695-24.725-49.385-24.725-77.576
				c0-80.838,73.309-146.605,163.417-146.605s163.417,65.768,163.417,146.605c0,19.157-4.057,37.783-12.057,55.362
				c-1.716,3.77-0.051,8.217,3.719,9.933c3.771,1.717,8.217,0.052,9.933-3.72c8.895-19.543,13.405-40.26,13.405-61.575
				C471.789,101.398,391.752,28.902,293.373,28.902z M358.945,340.88c23.876-8.521,45.534-21.67,63.458-38.702l8.414,7.68
				c2.526,2.308,3.917,5.462,3.917,8.883c0,3.421-1.391,6.575-3.917,8.883l-13.354,12.198
				c-17.845,16.301-41.048,24.63-64.872,23.555C355.361,356.155,357.506,348.637,358.945,340.88z"/>
    <path d="M247.193,361.415c-3.912-1.364-8.187,0.701-9.551,4.612l-5.491,15.745c-1.364,3.911,0.701,8.188,4.612,9.552
				c0.817,0.285,1.65,0.42,2.47,0.42c3.102,0,6.003-1.939,7.082-5.032l5.491-15.745
				C253.168,367.056,251.103,362.779,247.193,361.415z"/>
    <path d="M261.725,388.382l-5.491,15.744c-1.364,3.911,0.701,8.188,4.612,9.552c0.817,0.285,1.65,0.42,2.47,0.42
				c3.101,0,6.003-1.939,7.081-5.032l5.491-15.744c1.364-3.911-0.701-8.188-4.612-9.552
				C267.366,382.405,263.089,384.47,261.725,388.382z"/>
    <path d="M276.266,172.826c0-14.54-11.83-26.37-26.37-26.37c-14.54,0-26.369,11.83-26.369,26.37c0,4.143,3.358,7.5,7.5,7.5
				c4.142,0,7.5-3.357,7.5-7.5c0-6.27,5.101-11.37,11.37-11.37c6.27,0,11.37,5.101,11.37,11.37c0,4.143,3.358,7.5,7.5,7.5
				C272.908,180.325,276.266,176.969,276.266,172.826z"/>
    <path d="M344.95,166.293c-10.083-2.451-20.546-0.179-28.704,6.232c-8.159,6.413-12.838,16.043-12.838,26.419v20.721
				c0,13.926,11.329,25.255,25.255,25.255h35.693c10.381,0,19.789-5.302,25.167-14.182c5.378-8.88,5.717-19.674,0.907-28.872
				C381.096,184.016,364.519,171.051,344.95,166.293z M376.691,222.969c-2.636,4.352-7.247,6.951-12.336,6.951h-35.693
				c-5.655,0-10.255-4.601-10.255-10.255v-20.721c0-5.745,2.591-11.076,7.107-14.626c3.326-2.614,7.341-3.984,11.457-3.984
				c1.475,0,2.963,0.176,4.436,0.534c15.375,3.737,28.397,13.924,35.729,27.945C379.493,213.324,379.327,218.615,376.691,222.969z"
    />
</svg>
