<svg class="canary" height="100" width="100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xmlns:v="https://vecta.io/nano">
    <path class="right_wing" d="M313.7 423.2h0a9 9 0 0 0 6.7-11l-20.6-83.6c-4.7-19-24-30.6-42.8-26h0c-23.3 5.7-34.3 32.5-21.7 53l29.3 47.6a45 45 0 0 0 49.1 20.1z" fill="#f7da70"/>
    <path d="M163.3 370.5L121 489.2c-4 11 4.3 22.8 16 22.8h37c8.4 0 15.6-6.2 17-14.5l8.6-56.3-36-70.8z" fill="#f4b759"/>
    <path d="M163.3 370.5l-12 33.8c-11 42.5 2.2 53.8 45.3 55.8l3-18.8-36-70.8z" opacity=".1"/>
    <path d="M280.8 462.6h-19.3l-6-15 3.4-12.3c1.7-6-1.8-12-7.7-13.8-6-1.7-12 1.8-13.8 7.7l-4.4 16c-.7 2.3-.5 4.8.4 7l4 10.4h-3c-6.2 0-11.2 5-11.2 11.2s5 11.2 11.2 11.2h46c6.2 0 11.2-5 11.2-11.2s-5-11.2-11.2-11.2z" fill="#f8e9b4"/>
    <path d="M280.8 462.6h-19.3l-6-15 3.4-12.3c1.7-6-1.8-12-7.7-13.8-6-1.7-12 1.8-13.8 7.7l-4.4 16c-.7 2.3-.5 4.8.4 7l4 10.4h-3c-6.2 0-11.2 5-11.2 11.2s5 11.2 11.2 11.2H281c6.2 0 11.2-5 11.2-11.2s-5-11.2-11.2-11.2z" opacity=".1"/>
    <path d="M303.4 364.7c-3 35.7-30.6 80-83 80-40.4 0-78.7-10.4-57.2-74 18.6-55.2 26-87.5 66.5-87.5 63.6 0 79.4 13 73.6 81.8z" fill="#f4b759"/>
    <path d="M229.8 283c-25.8 0-38.2 13.2-48.6 37a227 227 0 0 0 73.3 11.2c17.2 0 33.8-1.6 49.3-4.7-4-35.7-24.5-43.6-74-43.6z" opacity=".1"/>
    <path class="left_wing" d="M134 421h0c-5-1.5-7.6-6.6-6-11.4l25-82.5c5.6-18.7 25.4-29.3 44-23.7h0c23 7 32.6 34.2 19 54l-31.8 46a45 45 0 0 1-50 17.5z" fill="#f7da70"/>
    <path d="M234.7 462.6h-19.3l-6-15 3.4-12.3c1.7-6-1.8-12-7.7-13.8s-12 1.8-13.8 7.7l-4.4 16c-.7 2.3-.5 4.8.4 7l4 10.4h-3c-6.2 0-11.2 5-11.2 11.2s5 11.2 11.2 11.2h46c6.2 0 11.2-5 11.2-11.2s-5-11.2-11.2-11.2z" fill="#f8e9b4"/>
    <g fill="#f4b759">
        <path d="M268 0h0c12.4 0 22 10.8 20.7 23.2L283 72.7c-1 7.7-7.4 13.5-15 13.5h0c-7.8 0-14.3-5.8-15-13.5l-5.6-49.5C245.8 10.8 255.5 0 268 0h0z"/>
        <path d="M206 22.5h0c8.8-8.8 23.3-8 31 1.7l31 39c4.8 6 4.3 14.8-1 20.3h0a15 15 0 0 1-20.3 1l-39-31c-9.7-7.8-10.5-22.3-1.7-31h0z"/>
        <path d="M411.4 196c0 80.8-69.6 119.5-155.4 119.5S100.6 276.7 100.6 196 170.2 58.8 256 58.8 411.4 115.2 411.4 196z"/>
    </g>
    <g fill="#4a5058">
        <use xlink:href="#A"/>
        <use xlink:href="#A" x="121.2"/>
    </g>
    <path d="M309.6 241.8h0c-10.7 1.6-20.3-6.7-20.3-17.5v-4.7l52.8 2.6a49 49 0 0 1-32.6 19.5z" fill="#f8e9b4"/>
    <path d="M289.3 219.6v4.7c0 .8.1 1.6.2 2.4h49c1.3-1.4 2.5-3 3.7-4.4l2-2.6h-54.8z" opacity=".1"/>
    <path d="M310.5 186.5h0c-11-2-21 6.4-21 17.6v15.5h57.2c2.8 0 4.6-3 3.2-5.5h0a57 57 0 0 0-39.2-27.6z" fill="#f8e9b4"/>
    <defs>
        <path id="A" d="M264.8 211c-4.5 0-8-3.6-8-8 0-3-2.5-5.6-5.6-5.6s-5.6 2.5-5.6 5.6c0 4.5-3.6 8-8 8s-8-3.6-8-8c0-12 9.8-21.8 21.8-21.8s21.8 9.8 21.8 21.8c0 4.5-3.6 8-8 8z"/>
    </defs>
</svg>
